@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf) format("ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("ttf");
}

body {
  @apply font-jetBrainsMono;
  @apply bg-gray-50 text-gray-800;
  @apply dark:bg-gray-700 dark:text-gray-50;
}